<h1>waveform</h1>
<br>

<div class="container">
  <div class="label"><h4>Customer</h4></div>
  <div class="waveform">
  </div>

  <div class="control-buttons">
      <button class="pause">
        Pause
      </button>
      <button class="continue">
        Continue
      </button>    
    </div>
  <!-- <svg id="marker" height="20" width="20">
      <circle cx="10" cy="10" r="10" stroke="black" stroke-width="1" fill="red" />
    </svg> -->

  <div class="label"><h4>Agent</h4></div>
  <div class="rwaveform">
  </div>
</div>